<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_URL</key>
	<string>rcsttehfkfghynyzmjca.supabase.co</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>sb_publishable_zE5ABZ_fDaDIoGLHbtx1pg_OlZAQICR</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionMainStoryboard</key>
		<string>MainInterface</string>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.message-payload-provider</string>
	</dict>
</dict>
</plist>
